@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../font/OpenSans-Regular.woff") format("woff");
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "OpenSans";
  font-size: 14px;
  background: rgb(121, 128, 250);
  background: linear-gradient(0deg, rgba(121, 128, 250, 1) 0%, rgba(98, 212, 107, 1) 100%);
}

svg {
  width: 30px;
  height: 30px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  max-width: 800px;
  margin: 10px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  background: rgb(207, 207, 207);
  background: radial-gradient(circle, rgba(207, 207, 207, 1) 0%, rgba(138, 138, 138, 1) 100%);
  box-shadow: 1px 1px 30px 15px rgb(255, 255, 255);
}

.title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  position: relative;
  max-width: 800px;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: rgb(231 231 231);
  background-image: url("../img/image_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.post {
  padding: 20px;
  border: 1px solid rgb(160, 159, 159);
  border-radius: 30px;
  margin-bottom: 10px;
  background-color: white;
}
.post__date {
  text-align: right;
  font-size: 12px;
  color: rgb(122, 121, 121);
  margin-bottom: 10px;
}
.post__content {
  word-break: break-all;
}
.post__position {
  font-size: 12px;
  color: rgb(122, 121, 121);
  margin-top: 10px;
}
input.post-text {
  min-width: 750px;
  padding: 15px;
  padding-right: 210px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.post-container {
  padding: 30px 30px 70px;
  width: 60%;
}
.create-post {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin-bottom: 10px;
  bottom: 30px;
  background: rgb(207, 207, 207);
  background: radial-gradient(circle, rgba(207, 207, 207, 1) 0%, rgba(138, 138, 138, 1) 100%);
  border-radius: 30px;
  border: 5px solid gray;
  box-shadow: 0 0 10px 10px gray;
}

.warning {
  width: 400px;
  padding: 20px;
  border: 1px solid rgb(160, 159, 159);
  display: none;
  background-color: white;
}
.warning_active {
  display: block;
  position: fixed;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
}
.warning-position {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  box-sizing: border-box;
}
.warning__submit {
  padding: 10px;
  margin-right: 2px;
  background-color: rgb(60, 148, 60);
  color: white;
  border: 0;
}
.warning__cancel {
  padding: 10px;
  margin-right: 10px;
  background-color: rgb(118, 116, 115);
  color: white;
  border: 0;
}

/*===video===*/
.video-container,
.audio-container {
  position: fixed;
  top: 50%;
  left: 50%;
}
.post-video,
.post-audio {
  width: 30px;
  cursor: pointer;
}
.video {
  display: none;
  max-width: 500px;
}
.audio {
  display: none;
  max-width: 200px;
}
.video_active,
.audio_active {
  display: block;
}
.video-controls {
  display: none;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 50px);
  padding: 5px;
  border-radius: 5px;
}
.audio-controls {
  display: none;
  position: absolute;
  background-color: transparent;
  right: 10px;
  bottom: 12px;
}
.video-controls_active,
.audio-controls_active {
  display: flex;
}
.video-save,
.video-cancel,
.audio-save,
.audio-cancel {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 15px;
  background-color: rgb(167, 164, 163);
  color: white;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
}
.video-timer,
.audio-timer {
  margin: 0 10px;
  padding-top: 5px;
}
.video-post,
.audio-post {
  max-width: 100%;
}

.hidden {
  display: none;
}

.upload-form {
  width: 30px;
}

/*===buttons===*/
.buttons {
  position: absolute;
  right: 50px;
  display: flex;
  gap: 5px;
}
.location-btn {
  width: 30px;
  cursor: pointer;
}

.file-container {
  width: 20px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.overlapped {
  opacity: 0;
  width: 20px;
}
.file-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
}
.post__img {
  max-width: 100%;
}

/*===search===*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-form {
  width: 750px;
  position: relative;
}
.search-input {
  width: 750px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 5px 8px 42px 13px rgba(255, 255, 255, 0.2);
}
.search-icon {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

/*===filter===*/
.filter-attach {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.filter-attach-title {
  margin: 0;
  margin-right: 10px;
  font-size: 15px;
}
.filter-attach__button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: lightgray;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.filter-attach__button:hover {
  background-color: rgb(82, 82, 82);
  color: white;
}

.video-form,
.audio-form {
  display: none;
}